{template 'header'}

<style>
body{
	text-align:center;
	font-size:14px; line-height:1.3;
	font-family:STHeiti-Light,'Hiragino Sans GB','Microsoft Yahei',Arial;
	background-size:100%; padding-top:50px; background:{$reply['bgcolor']} url({php echo tomedia($reply['bgimg']);}) center 0 no-repeat;
	filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";  
-moz-background-size:100%;  
    background-size:100%;  
}


body,ul,li,dl,dd,dt,p,h1,h2,h3{ margin:0; padding:0; list-style:none; }
h1{ font-size:18px; }
h2{ font-size:16px; }
h3{ font-size:14px; }
img{ display:inline-block; vertical-align:middle; margin:auto; border:none; }
input{ font-family:STHeiti-Light,'Hiragino Sans GB','Microsoft Yahei',Arial; cursor:pointer; }

/*链接*/
a{ color:#666;text-decoration:none; outline:none;hide-focus:expression(this.hideFocus = true);}
a:hover{ color:#666; text-decoration:none; }
.hand,label{ cursor:pointer; }

/*颜色*/
.blue1, a.blue1{ color:#77b7ec; }
.blue2, a.blue2{ color:#054da8; }
.gray1,a.gray1{ color:#999; }
.black1{ color:#666; }
#pagewrapper .orange1{ color:#ea5703; }
.pink{ color:#e40077; }
.red,a.red{ color:#e60012; }
.red2,a.red2{ color:#b60005; }
.yellow{ color:#fdd000; }
.yellow2{ color:#fff100; }
.green{ color:#6ba612; }

.homefH h1{color: #fff100;
    font-size: 2em;
    padding: 15px 0 15px;}


.btnT2 {
    display: block;
    line-height: 30px;
    padding:3px 1.6em;
    border: 2px solid {$reply['ptdata']['buttoncolor']};;
    color: {$reply['ptdata']['buttoncolor']};;
    font-size: 16px;
	font-weight:700;
    border-radius: 50px;
	margin:5px 0;
}
.rankbox{text-align:left;border: 1px solid #fff;padding: 10px;border-radius: 5px;margin: 10px 0;color:#fff;}
.rankbox li{clear:both;height: 50px;line-height: 50px;margin: 10px 0;}
.rankbox li img{float:left; margin-right:10px;border-radius: 3px;}
.rankbox li span{ float:right;}
.rankbox li p{width: 25px;
    height: 25px;
    float: left;
    margin-right: 10px;
    border-radius: 50%;
    background: rgba(247, 1, 1, 0.96);
    color: #fff;
    line-height: 25px;
    text-align: center;margin-top: 12.5px;}
</style>



<div class="homefH" style="width: 90%;margin: 0 auto;">
     <div style="width:100%;overflow: hidden;">
	     <h1>拼图排行榜</h1>
	     <div class="rankbox">
		   <ul>
		   <li style="height:20px;line-height:20px; font-weight:bold">排名   用户
			      <span>完成拼图</span>

			   </li>
		   {loop $list $row}
		   
		       <li><p class="no no{php echo ++$i;}">{php echo $i; }</p><img src="{$row['avatar']}" width="48" height="48">{php echo cutstr($row['nickname'],8, true);}
			      <span>{$row['finishnum']}</span>

			   </li>
		   {/loop}
		   </ul>
		 </div>
	 
	 </div>
	
	<p></p>
	<a href="{php echo $this->createMobileUrl('index', array('id' => $reply['rid']))}" class="btnT2">我的拼图</a>

	<a href="javascript:history.go(-1);" class="btnT2">返回</a> 
</div>




</body></html>