{template 'head'}
<style type="text/css">
        .video-container1{
            width: 100%;
            height: 240px;
            border: solid;
        }
        .video1{
            width: 100%;
        }
        .video-container2{
            width: 100%;
            height: 240px;
            border: solid;
        }
        .video2{
            width: 100%;
            height: 100%;
            background:transparent url('http://static1.tuicool.com/images/ad/handone300.jpg') 50% 50% no-repeat;
            -webkit-background-size:cover;
            -moz-background-size:cover;
            -o-background-size:cover;
            background-size:cover;
        }
        </style>

    <div class="video-container2">
        <video class="video2" src="http://ts.jb361.cn/m3u8_Marvels_Agents_of_S.H.I.E.L.D_S03E15.m3u8?pm3u8/0/expires/18000&amp;e=1467415775&amp;token=cPLJw_uAAGMXzHbzxCoqDtiTVD4LiTw6Oc19fxI2:UN7qw7Iqo537X3x41wwjluFp0lo=" poster="" controls>

        </video>
    </div>
{template 'end'}