@charset "utf-8";
/* CSS Document */
.weisrc_dish_tablelist{}
.weisrc_dish_tablelist ul,.weisrc_dish_tablelist ul li{ list-style:none; margin:0; padding:0;}
.weisrc_dish_tablelist ul { margin-bottom:5px; border-bottom:1px dashed #CCC;}
.weisrc_dish_tablelist ul li{ display:inline-block; border-radius:6px; margin:5px; width:19%; padding:10px; background:#CCC; text-align:center;}
.weisrc_dish_tablelist ul li span{ font-size:18px;}
.weisrc_dish_tablelist ul li h3{ display:block; margin:5px; font-size:40px; line-height:50px; }