{template 'common/header'}
{php load()->func('tpl');}
<div class="clearfix">
    <div class="panel panel-info">
        <div class="panel-heading">基本设置</div>
        <div class="panel-body">
            <form action="" class="form-horizontal form" method="post">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">全局封面图片</label>
                    <div class="col-sm-6 col-md-6">
                        {php echo tpl_form_field_image('cover', $settings['cover'])}
                        <span class="help-block">顶部banner图片，尺寸：640*120</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">全局banner图片</label>
                    <div class="col-sm-6 col-md-6">
                        {php echo tpl_form_field_image('banner', $settings['banner'])}
                        <span class="help-block">顶部banner图片，建议尺寸：640*120</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">全局banner图片链接</label>
                    <div class="col-sm-6 col-md-6">
                        <input type="text" id="banner_url" class="form-control" name="add[banner_link]" value="{$settings['banner_link']}">
                        <span class="help-block">顶部banner图片链接</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">全局分享链接</label>
                    <div class="col-sm-6 col-md-6">
                        <input type="text" id="share_url" class="form-control" name="add[share_url]" value="{$settings['share_url']}">
                        <div class="help-block">用户分享出去的链接，可以是其它活动或广告等素材的链接，为空则分享当前页。</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">全局分享后跳转链接</label>
                    <div class="col-sm-6 col-md-6">
                        <input type="text" id="share_back" class="form-control" name="add[share_back]" value="{$settings['share_back']}">
                        <div class="help-block">用户分享后跳转的链接，建议填写其它活动或广告等素材的链接。</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">全局引导关注链接</label>
                    <div class="col-sm-6 col-md-6">
                        <input type="text" id="follow_url" class="form-control" name="add[follow_url]" value="{$settings['follow_url']}">
                        <div class="help-block">建议做一条引导关注的图文素材。例：<a href="http://mp.weixin.qq.com/s?__biz=MjM5ODU0NzQ0Mg==&mid=200074867&idx=1&sn=5a529a8cf2369731f535d5f3885d140e#rd" target="_black">点击查看</a></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
                    <div class="col-sm-6 col-md-6">
                        <button type="submit" class="btn btn-primary span3" name="submit" value="提交"> 提交 </button>
                        <input type="hidden" name="token" value="{$_W['token']}" />
                    </div>
                </div>
            </form>
        </div>
    </div>
{template 'common/footer'}